<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <style>
        label {
            color: green;
            font-size: 23px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            color: gray;
        }
    </style>
</head>
<body>

<i style="font-size: 23px">Editing:</i>
<br>
<br/>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>

    <br/>
    <hr/>
    <a href="/people">Back</a>
    <p><input style="width: 125px" type="submit" value="Update"/></p>
</form>

</body>
</html>