<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
</head>

<body class="container-fluid">

<i style="font-size: 23px">Creating:</i>
<br>
<br/>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label class="font-italic font-weight-bold" for="name">Enter name: </label>
    <input class="form-control" placeholder="Name" type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>

    <label class="font-italic font-weight-bold" for="age">Enter age: </label>
    <input class="form-control" placeholder="5+" type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>

    <label class="font-italic font-weight-bold" for="email">Enter email: </label>
    <input class="form-control" placeholder="name@email.com" type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
    <br/>

    <br/>
    <hr/>
    <a class="btn btn-light" href="/people">Back</a>
    <p><input class="form-control" type="submit" value="Create"/></p>

</form>

</body>
</html>