<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
</head>
<body class="container-fluid">

<i style="font-size: 23px">Persons:</i>
<br>
<br/>
<div class="bg-white" style="background-color: #eee; margin-bottom: 10px" th:each="person : ${people}">
    <a class="btn btn-info" th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + '; ' + person.getEmail()}">user</a>
</div>

<br/>
<hr/>

<a class="btn btn-light" href="/people/new">Create</a>

</body>
</html>